{% extends "adminimio/imio_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Imio administration" %} - {{ block.super }} {% endblock %}

{% block body_class %}adminimio{% endblock %}

{% block body_outer %}
<div class="row">
  <div class="col-md-8">
    <div>Preparation de l'interface d'administration</div>
    {% block body %}{% endblock %}
  </div>
  <div class="col-md-4">
  {% block sidebar %}{% endblock %}
  </div>
  <br/>
  <form id="form_updatelayers" action="{% url "imio_management" %}" method="post">
    <input type="hidden" value="{{ csrf_token }}" id="csrf_token" name="csrf_token">
    <input class="btn" id="b_updatelayers" type="submit" value="updatelayers">
  </form>
  <br/>
  <div id="form_updatelayers_result">
  </div>
</div>
<script type="text/javascript">
{% autoescape off %}
  csrf_token =  "{{ csrf_token }}",
  form_target = "/admninimio",
  geogig_enabled = {{ GEOGIG_ENABLED|lower  }},
  time_enabled = {{ TIME_ENABLED|lower  }},
  userLookup = "{% url "geonode.views.ajax_lookup" %}"
{% endautoescape %}

//jquery
$( document ).ready(function() {
    console.log( "ready!" );


    $("#form_updatelayers").submit(function( event ) {
        event.preventDefault();

        var url = $(this).attr( "action" );
        var donnees = $(this).serialize();

        $.ajax({
            type: "POST",
            url: url,
            data: donnees,
            dataType: 'json',
            success: function(info, statut){
                $("#form_updatelayers_result").html("Mise à jour réussie");
                $("#form_updatelayers_result").addClass("alert-success");
            },
            error : function(request, status, error){
                $("#form_updatelayers_result").html(request.responseJSON.error);
                $("#form_updatelayers_result").addClass("alert-warning");
            }
        });
    });

});
</script>
{% endblock %}
