{% extends "adminimio/imio_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Imio administration" %} - {{ block.super }} {% endblock %}

{% block body_class %}adminimio{% endblock %}

{% block body_outer %}
<div class="row">
  <div class="col-md-8">
    {% block body %}{% endblock %}
  </div>
  <div class="col-md-4">
  {% block sidebar %}{% endblock %}
  </div>
</div>
<div class="imio">
  <h2>Interface d'administration iMio</h2>
  <br/>
  <br/>
  <form id="form_addurb" action="{% url "imio_management_addurb" %}" method="post">
    {% csrf_token %}
    <input type="hidden" value="{{ user.username }}" name="in_user">
    <div>Votre password :</div>
    <input type="password" placeholder="Password" name="in_password" required="required"><br/>
    <div>Adresse BD :</div>
    <input type="text" placeholder="www.adresse.be" name="in_dbadresse" required="required"><br/>
    <div>Port BD :</div>
    <input type="text" placeholder="5432" name="in_dbport" required="required"><br/>
    <div>Nom BD :</div>
    <input type="text" placeholder="urbangis" name="in_dbname" required="required"><br/>
    <div>Utilisateur BD :</div>
    <input type="text" placeholder="admin" name="in_dbuser" required="required"><br/>
    <div>Password BD :</div>
    <input type="password" placeholder="Password" name="in_dbpassword" required="required"><br/>
    <div>Workspace :</div>
    <input type="text" name="in_workspace" required="required"><br/>
    <div>Uri :</div>
    <input type="text" placeholder="imio.be" name="in_uri" required="required"><br/>
    <div>Nom du groupe :</div>
    <input type="text" name="in_groupname" required="required"><br/>
    <input type="hidden" value="{{ csrf_token }}" id="csrf_token" name="csrf_token">
    <br/>
    <input class="btn" id="b_addurb" type="submit" value="Envoyer">
  </form>
  <br/>
  <div id="form_addurb_result">
  </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
{% autoescape off %}
  csrf_token =  "{{ csrf_token }}",
  form_target = "/admninimio",
  geogig_enabled = {{ GEOGIG_ENABLED|lower  }},
  time_enabled = {{ TIME_ENABLED|lower  }},
  userLookup = "{% url "geonode.views.ajax_lookup" %}"
{% endautoescape %}

//jquery
$( document ).ready(function() {

    $("#b_addurb").click(function() {
        $("#form_addurb_result").removeClass();
        $("#form_addurb_result").html("Récuperation en court");
        $("#form_addurb_result").addClass("alert-warning");
    });

});
</script>
{% endblock %}

