{% extends "adminimio/imio_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Imio administration" %} - {{ block.super }} {% endblock %}

{% block body_class %}adminimio{% endblock %}

{% block body_outer %}
<div class="row">
  <div class="col-md-8">
    <div>Preparation de l'interface d'administration</div>
    {% block body %}{% endblock %}
  </div>
  <div class="col-md-4">
  {% block sidebar %}{% endblock %}
  </div>
  <br/>
  <form id="form_comm_user" action="{% url "imio_management_commune" %}" method="post">
    <div>Nom d'utilisateur :</div>
    <input type="text" name="in_user"><br/>
    <div>Nom de commune :</div>
    <input type="text" name="in_comm"> <br/>
    <input type="hidden" value="{{ csrf_token }}" id="csrf_token" name="csrf_token">
    <input class="btn" id="b_commune_user" type="submit" value="creation">
  </form>
  <br/>
  <div id="form_updatelayers_result">
  </div>
</div>
<script src="{{ STATIC_URL }}lib/js/jquery.min.js"></script>
<script type="text/javascript">
{% autoescape off %}
  csrf_token =  "{{ csrf_token }}",
  form_target = "/admninimio",
  geogig_enabled = {{ GEOGIG_ENABLED|lower  }},
  time_enabled = {{ TIME_ENABLED|lower  }},
  userLookup = "{% url "geonode.views.ajax_lookup" %}"
{% endautoescape %}

//jquery
$( document ).ready(function() {
    console.log( "ready!" );


    $("#form_comm_user").submit(function( event ) {
        event.preventDefault();

        var url = $(this).attr( "action" );
        var donnees = $(this).serialize();

        $.ajax({
            type: "POST",
            url: url,
            data: donnees,
            dataType: 'json',
            success: function(info, statut){
                console.log('sussess');
            },
            error : function(info, statut){
                console.log('error');
            }
        });
    });

});


//Non jquery
/*
document.addEventListener('DOMContentLoaded', function() {

    var form = document.getElementById('form_updatelayers')

    if(form.addEventListener){
        form.addEventListener("submit", function(evt){
            evt.preventDefault();

            var r = new XMLHttpRequest();

            r.onreadystatechange = function () {
                //code
                if (r.readyState != 4 || r.status != 200) return;
                document.getElementById('form_updatelayers_result').innerHTML = 'success';
                alert("Success: " + r.responseText);
            };

            r.open("POST", form.attributes["action"].value, true);
            r.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')

            r.send("csrf_token="+csrf_token);
        }
        , false);
    }else if(form.attachEvent){
        form.attachEvent('onsubmit', send_cmd);
    }

})
*/
</script>
{% endblock %}

