{% extends "site_base.html" %}


{% block middle %}
   {{ block.super }}
{% block mainbody %}

<div class="container">
{% for result in survey_result %}
  <h2>Results for layer {{ result.name }}</h2>
  <div>
    Success : {{ result.success }}
    Message : {{ result.message }}
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
      {% for key in result.attributes.0.attributes %}
        <td>{{ key }}</td>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for feat in result.attributes %}
      <tr>
      {% for key, value in feat.attributes.items %}
        <td>{{ value }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <hr />
{% endfor %}
</div>
{% endblock %}
{% endblock %}
