.navbar-brand {
        background: url(/static/img/logo.png) no-repeat;
        width: 150px;
}

.container{
	width: 1100px;
}
.navbar-collapse{
	margin-top: 0px;
	width: 1100px;
}
.hero-unit{
	width: 970px;
	margin: auto;
}
