{% extends 'index.html' %}
{% load i18n %}
{% load base_tags %}
{% load staticfiles %}
{% load url from future %}
<img src=static/geonode/img/logo.png" alt="IMIO" title="IMIO" height="78" width="639">
  {% block hero %}
  <div class="hero-unit">
    <h1>{% trans "Welcome" %}</h1>
    <div class="hero-unit-content">
      <div class="intro">
        <p>
          {% blocktrans %}
            GeoNode is an open source platform for sharing geospatial data and maps.  If you have any questions about the software or service, join our <a href="https://groups.google.com/d/forum/geonode-users">mailing list</a>.
          {% endblocktrans %}
        </p>
        <span>{% trans 'Need help' %} <a href="http://geonode.github.com/workshops/user">{% trans 'Getting Started?' %}</a></span>
      </div>
      <div class="btns">
        <a class="btn btn-large" href="{% url "layer_browse" %}">
          {% trans "Explore Layers" %}
        </a>
        <a class="btn btn-large" href="{% url "maps_browse" %}">
          {% trans "Explore Maps" %}
        </a>
      </div>
    </div>
  </div>
  {% endblock %}
