{% extends 'index.html' %}
{% load i18n %}
{% load base_tags %}
{% load staticfiles %}
{% load url from future %}


{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}
{% block hero %}
<div class="jumbotron">
  <div class="container">
    <p><img src="static/img/imio-logo-large.png" alt="IMIO" title="IMIO" height="78" width="639"></p>
    <p>
      {% blocktrans %}
      IMIO-Geonode est un plateforme d'hébergement et de gestion des données cartographiques.
      {% endblocktrans %}
    </p>
    <span>
      Pour davantage d'informations à propos d'IMIO, l'intercommunale de Mutualisation Informatique et Organisationnelle merci de visiter
      <a href="http://www.imio.be/">notre site web</a>.
    </span>
  </div>
</div>
{% include "_status_message.html" %}
{% include "_announcements.html" %}
{% include "_messages.html" %}
{% endblock %}
